@page
@model RazorWebApp.Pages.Game.Game


<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Game ID: @Model.GameId</h1>
    <h1>Active player ID: @Model.Engine.State.ActivePlayerNo</h1>
    <h2>Active player nickname: @Model.Engine.State.Players[Model.Engine.State.ActivePlayerNo].Nickname</h2>
    <div>
        Playername: @Model.Engine.State.Players[Model.PlayerId].Nickname
        <br/>
        Your Player ID : @Model.PlayerId
        <br/>
        Cards of curr player:
        @{
            foreach (var card in Model.Engine.State.Players[Model.Engine.State.ActivePlayerNo].HandCards)
            {
                <p>@(card + ",")</p>
            }
        }
    </div>
</div>
</body>
</html>